body {background-color:black;font-family:arial;color:white}
h1{color:grey;}
.maindiv{
    margin-top:3rem;
    margin-right:auto;
    margin-left:auto;
    border-radius:25px;
    background-color:white;
    color:black;
    padding:20px;
    width:500px;
}
.maindiv h1 {
    text-align:center;
}
footer {
    padding-top:2rem;
    padding-bottom:1rem;
    text-align:center;
}

.field {
    display:block;
    padding:.5rem 0;
}
.field label {
    display:inline;
}
.border {
    border-width:1px;
    border-color:gray;
    padding:2px 1px;
}
.maindiv {
    
}
.center-inner {
 padding-left:5rem;
}
